<input type="text" data-ui="route" class="route">
<form>
  <fieldset>
    <div class="hidden alert alert-danger" data-ui="alert"><small>Favor preencher os campos obrigatórios</small></div>
    <input type="text" name="name" placeholder="Help me for real" class="form-control">
    <input type="email" name="email" placeholder="Help me for real" class="form-control">
    <input type="text" name="phone" placeholder="Help me for real" class="form-control" data-ui="phone">
    <input type="text" name="route" placeholder="Help me for real" class="form-control" id="route">
    <input type="text" name="street_number" placeholder="Help me for real" class="form-control" id="street_number">
    <input type="text" name="postal_code" placeholder="Help me for real" class="form-control" id="postal_code">
    <input type="text" name="sublocality_level_1" placeholder="Help me for real" class="form-control" id="sublocality_level_1">
    <button class="btn btn-primary">submit</button>
  </fieldset>
</form>
