<div class="text-center"><h2 class="text-grey">Acme</h2></div>
<div class="hidden alert alert-danger" data-ui="alert">
  <button type="button" data-ui="close" class="close">&times;</button>
  <small>Favor preencher os campos obrigatórios</small>
</div>
<input type="text" data-ui="route" class="route route-input" placeholder="Endereço - ex: Av. Paulista, 210" autocomplete="off">
<form class="form">
  <fieldset>
    <div class="form-group">
      <input type="text" name="name" placeholder="Nome" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="email" name="email" placeholder="E-mail" class="form-control" required>
    </div>
    <div class="form-group">
      <input type="text" name="phone" placeholder="Telefone" class="form-control" data-ui="phone">
    </div>
    <div class="form-group">
      <input type="text" name="route" class="form-control text-white" id="route" required autocomplete="off" tabindex="-1">
    </div>
    <div class="form-group clearfix">
      <input type="text" name="street_number" placeholder="N°" class="form-control form__number pull-left" id="street_number">
      <input type="text" name="postal_code" placeholder="CEP" class="form-control form__code pull-left" id="postal_code">
    </div>
    <div class="form-group">
      <input type="text" name="sublocality_level_1" placeholder="Bairro" class="form-control" id="sublocality_level_1">
    </div>
    <button class="btn btn-primary btn-block">FAZER PEDIDO!</button>
  </fieldset>
</form>
