<fieldset>
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="name">
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="email">
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="phone">
  <input type="text" placeholder="Help me for real" class="form-control" id="route">
  <input type="text" placeholder="Help me for real" class="form-control" id="street_number">
  <input type="text" placeholder="Help me for real" class="form-control" id="postal_code">
  <input type="text" placeholder="Help me for real" class="form-control" id="sublocality_level_1">
  <button type="button">submit</button>
</fieldset>
