<fieldset>
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="name" required>
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="email" required>
  <input type="text" placeholder="Help me for real" class="form-control" data-ui="phone" required>
  <input type="text" placeholder="Help me for real" class="form-control" id="route" required>
  <input type="text" placeholder="Help me for real" class="form-control" id="street_number" required>
  <input type="text" placeholder="Help me for real" class="form-control" id="postal_code" required>
  <input type="text" placeholder="Help me for real" class="form-control" id="sublocality_level_1" required>
  <button type="button">submit</button>
</fieldset>
