html,
body {
  width: 100%;
  height: 100%;
}

.side-bar-container {
  position: fixed;
  width: 300px;
  height: 100%;
  background: #425057;
  -webkit-box-shadow: 10px 0 15px -5px rgba(0,0,0,0.54);
  -moz-box-shadow: 10px 0 15px -5px rgba(0,0,0,0.54);
  box-shadow: 10px 0 15px -5px rgba(0,0,0,0.54);
  z-index: 1;
}

.map-container {
  width: 100%;
  padding-left: 300px;
}

.map,
.map-wrap {
  width: 100%;
}

.map-wrap {
  position: relative;
}

.full-height {
  height: 100%;
}

.panel {
  position: absolute;
  width: 200px;
  z-index: 1;
  right: 50px;
  top: 50px;
  margin: 0;
}

.route-input {
  width: 270px;
  background: transparent;
  border: 0;
  padding: 6px 12px;
  position: absolute;
  top: 148px;
}

.form {
  position: relative;
}

.invalid {
  color: #a94442;
  background-color: #fdee9d;
  border-color: #ff0000;
}

.card__caption {
  font-size: 3rem;
  font-weight: 600;
}

.text-grey {
  color: #758b96;
}
