.map-container {
  width: 100%;
  padding-left: 300px;

  @media #{$all-mobile} {
    padding-left: 0;
  }
}

.map,
.map-wrap {
  width: 100%;
}

.map-wrap {
  position: relative;
}

.mobile-button {
  position: fixed;
  bottom: 0;
  border-radius: 0;
}
