<div data-region="side-bar" class="side-bar pull-left"></div>
<div data-region="map" class="map-container full-height pull-left"></div>
<button class="btn btn-primary btn-block visible-xs-block mobile-button" data-ui="button">VERIFICAR DISPONIBILIDADE</button>
